{% load static %}

<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Bootstrap CSS Local -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">

        <title>SCOM | Login</title>
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <form method="post" class="formulario">
            {% csrf_token %}
                <input class="form-control" type="text" name="username" id="username" placeholder="Usuario">
                <input class="form-control" type="password" name="password" placeholder="Clave">

                <button class="btn btn-success" type="submit">Login <span><i class="fas fa-sign-in-alt"></i></span></button>
            </form>

            <div>
                <h6>
                    {% if form.errors %}
                        <span id="avisoError" class="badge badge-danger peligro">
                            <b>Su nombre de usuario y contraseña no coinciden.<br>¡ Inténtelo de nuevo por favor !</b>
                        </span>
                    {% endif %}
                </h6>
                <h6>
                    <span class="badge badge-warning"><b>¿No tiene registro?</b><br>Puede solicitar sus datos de acceso con el área de Sistemas.</span>
                </h6>
            </div>
        </div>

    <!--Footer-->
    <footer>
        <p>
            <div class="copyleft">©</div> 2018 Copyleft: <strong><a href="http://oscarcustodio.tk" target="_blank">oscarcustodio.tk</a></strong><br><a href="https://www.djangoproject.com/" target="_blank"><img src="{% static 'img/80x15-django-powered.png' %}" alt="Logo Django"></a>
        </p>
    </footer>
    <!--/.Footer-->

    <!-- Optional JavaScript Local -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $("#username").focus();
        $("#avisoError").fadeIn(600).delay(3000).fadeOut(1600);
    </script>
    </body>
</html>
