thead {
    vertical-align: !important middle;
}

.formulario, .seccion {
    background-color: #C6C6C6;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1rem;
}

.ligaBarraOpciones {
    display: inline-block;
    margin-top: 1rem;
    width: 15%;
}

.grupoAbastecidaPor {
    display: none;
}

/* INICIA LISTA GENERAL */
.cuadroBuscar {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 10%;
    width: 40%;
}

.text-dark {
    font-size: 0.98rem;
    height: auto;
    display: inline-block;
    text-align: right;
    width: 49%;
}

.totalComites {
    margin-left: 50%;
}

.iconoAccionImprimir {
    display: inline-block;
    margin-left: 10%;
}

.cantidad {
    font-size: 1.4rem;
    font-weight: bold;
}

.iconoVistaTarjeta {
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    padding: 0.2rem;
    padding-top: 0.4rem;
}

.iconoVistaLista {
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin-left: 42%;
    padding: 0.2rem;
    padding-top: 0.4rem;
}

.noActivo {
    color: #C6C6C6;   
}

.card {
    border-radius: 10px;
    height: auto;
    margin-bottom: 0.6rem;
    width: 100%;
}

.card:hover {
    border: solid 2px #007BFF;
    box-shadow: 0 0 10px #000000;
    animation: mueve 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes mueve {
    0% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    50% {
        transform: translate(-24px, -25px);
        -webkit-transform: translate(-24px, -25px);
        -moz-transform: translate(-24px, -25px);
        -ms-transform: translate(-24px, -25px);
        -o-transform: translate(-24px, -25px);
    }
    100% {
        transform: translate(-24px, -25px);
        -webkit-transform: translate(-24px, -25px);
        -moz-transform: translate(-24px, -25px);
        -ms-transform: translate(-24px, -25px);
        -o-transform: translate(-24px, -25px);
    }
}

.tab-content {
    padding-top: 0.4rem;
}

.tarjetas {
    display: none;
}

.activo {
    display: block;
}

.inactivo {
    display: none;
}

.fa-credit-card, .fa-list-ul {
    font-size: 1.2rem;
}

.fila {
    font-size: 0.9rem;
}
 
.columna {
    font-size: 0.9rem;
    text-align: center;
    width: 10%;
}

.iconoAccion {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.fa-trash {
    color: #FF0000;
}
/* TERMINA LISTA GENERAL */
.izquierda, .derecha {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.derecha {
    margin-left: 1%;
}

/* INICIA DETALLE DE BOMBERO */
.grupo {
    font-size: 0.9rem;
    width: 100%;
}

.etiqueta {
    display: inline-block;
    vertical-align: top;
    width: 28%;
}

.datoRegiBombero {
    display: inline-block;
    font-weight: bold;
    width: 70%;
}

.bloqueAcciones {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    text-align: right;
}
/* TERMINA DETALLE DE BOMBERO */
/* INICIA DETALLE DE COMITÉ */
.ubicacion {
    display: inline-block;
    width: 49%;
}

.ubicacion:nth-child(even) {
    margin-left: 1%;
}

.anio, .mes, .mnombreComitenombreComitees {
    display: inline-block;
    width: 49%
}

.mes {
    margin-left: 1%;
}

.numero_tomas, .cuota {
    display: inline-block;
    width: 49%;
}

.cuota {
    margin-left: 1%;
}

.sexo, .tel {
    display: inline-block;
    width: 49%
}

.tel {
    margin-left: 1%;
}
/* TERMINA DETALLE DE COMITÉ */
/* INICIA DETALLE DE CFE */
.municipio {
    margin-left: 1rem;
    width: 18%;
}

.list-group-item {
    display: none;
    list-style: none;
}

.etiquetaCFE {
    display: inline-block;
    width: 6%;
}

.comiteCFE {
    display: inline-block;
    width: 42.6%;
}

.sugerencias {
    background-color: #C6C6C6;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: 4.6rem;
    left: 16%;
    overflow: auto;
    padding-top: 0.6rem;
    position: absolute;
    z-index: 9999;
    width: 33%;
}

.opcionCFE {
    cursor: pointer;
    height: 1rem;
    line-height: 1rem;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    -webkit-transition: padding-left 0.2s;
    -moz-transition: padding-left 0.2s;
    -o-transition: padding-left 0.2s;
    -ms-transition: padding-left 0.2s;
}

.opcionCFE:hover {
    border-left: solid 5px #A6A6A6;
    padding-left: 1rem;
}
/* TERMINA DETALLE DE CFE */
.ingresos {
    color: #0500CC;
}

.egresos {
    color: #DC0000;
}

.mapaComite {
    border: solid 1px #C6C6C6;
    border-radius: 10px;
    height: 400px;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* INICIA LISTA FINANCIERO */
.fecha_inicio, .fecha_fin {
    display: inline-block;
    width: 49%;
}

.fecha_fin {
    margin-left: 1%;
}

.cantidades {
    text-align: center;
}

.opcionesReporteAnterior {
    display: inline-block;
    font-size: 1.2rem;
    text-align: right;
    width: 35%;
}

.opcionesReporteActual {
    display: inline-block;
    font-size: 1.2rem;
    text-align: right;
    width: 12%;
}
/* TERMINA LISTA FINANCIERO */