body {
    background-image: url('../img/fondoLogin.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

p {
    text-align: justify;
}

nav {
    padding: 0;
}

.error404 {
    margin-top: 3rem;
    box-shadow: 0px 0px 5px #AAAAAA;
}

.fa-tint {
    background-color: #3B83BD;
    border-radius: 4px;
    padding: 0.3rem;
}

.usuarioMenu {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1.3rem;
    text-align: right;
}

.btn {
    margin-top: 1rem;
}