a, a:hover, a:visited, a:active {
    color: #2D3E50;
    text-decoration: none;
}

body {
    background-image: url('../img/fondoLogin.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

footer {
    bottom: 0;
    margin-left: 10%;
    position: absolute;
    text-align: center;
    width: 80%;
}

h1 {
    margin-top: 6rem;
    text-align: center;
}

.container {
    margin-left: 10%;
    max-width: 100%;
    padding: 0;
    position: relative;
    width: 80%;
}

.formulario {
    margin-left: 30%;
    width: 40%;
}

.btn-success {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.badge-warning {
    line-height: 1.2rem;
    padding: 0.4rem;
    margin-left: 30%;
    width: 40%;
}

.peligro {
    line-height: 1.2rem;
    margin-left: 30%;
    padding: 0.4rem;
    position: absolute;
    width: 40%;
}

/* Footer */
.copyleft {
    display: inline-block;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin: 0;
    text-align: right;
    transform: scaleX(-1);
}