.mapid {
    bottom: 0;
    height: 92.6%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.panelMapa {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 8px 8px;
    color: #FDEC0D;
    display: none;
    font-size: 1rem;
    height: 40%;
    position: absolute;
    width: 26%;
    margin-left: 73%;
    padding: 1rem;
    top: 0;
    z-index: 100;
}

.barraOpciones {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.listadosGenerales {
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    width: 20%;
}

.ligaBarraOpciones {
    color: #A09700;
    display: inline-block;
    margin-top: 1rem;
    padding-left: 0;
    text-align: center;
    width: 15%;
}

.ligaBarraOpciones:hover {
    color: #FFF600;
}

.ligaBarraOpciones:nth-child(even) {
    margin-left: 2rem;
    margin-right: 2rem;
}