<!-- FORMULARIO INDEPENDIENTE PARA EL REGISTRO DE NUEVOS COMITÉS -->
{% extends 'base.html' %}

{% load static %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Comité{% endblock %}

{% block tituloBanner %}Comité{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="{% url 'listComiteGeneral' %}"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Registrar Nuevo Comité{% endblock %}

{% block contenido %}
    <div class="formulario">
        <form method="POST">
            {% csrf_token %}
            <div class="izquierda">
                <label>Clasificación Política:</label>
                {{ form.clasificacion_politica }}
                <label>Nombre de la Comunidad:</label>
                {{ form.nombre }}
                <label>Quien Administra:</label>
                {{ form.quien_administra }}
                <label>Ubicación Geográfica:</label><br>
                {{ form.latitud }} {{ form.longitud }}<br>
                <label>Municipio:</label>
                {{ form.municipio }}
                <label>Tipo de Comité:</label>
                {{ form.tipo_comite }}

                <div id="grupo" class="grupoAbastecidaPor">
                    <label>Abastecida por:</label>
                    <select name="abastecida_por" id="id_abastecida_por" class="custom-select">
                    </select>
                </div>

                <label>Calificación del Comité:</label>
                {{ form.calificacion_comite }}
                <label>Tiempo de Función del Comité: Años / Meses</label>
                {{ form.tiempo_funcion_comite_anios }} {{ form.tiempo_funcion_comite_mes }}
                <label>Población:</label>
                {{ form.numero_habitantes }}
                <label>Número de Tomas Instaladas:</label>
                {{ form.numero_tomas_instaladas }}
                <label>Número / Cuota Mensual de Tomas Domiciliarias:</label>
                {{ form.numero_tomas_domiciliarias }} {{ form.cuota_mensual_toma_domiciliaria }}
                <label>Número / Cuota Mensual de Tomas Comerciales:</label>
                {{ form.numero_tomas_comerciales }} {{ form.cuota_mensual_toma_comercial }}
                <label>Número / Cuota Mensual de Tomas Ganaderas:</label>
                {{ form.numero_tomas_ganaderas }} {{ form.cuota_mensual_toma_ganadera }}
                <label>Promotor (Nombre / Sexo / Teléfono):</label>
                {{ form.promotor }}
                {{ form.sexo_promotor }} {{ form.telefono_promotor }}
                <label>Presidente (Nombre / Sexo / Teléfono):</label>
                {{ form.presidente }}
                {{ form.sexo_presidente }} {{ form.telefono_presidente }}
                <label>Secretario (Nombre / Sexo / Teléfono):</label>
                {{ form.secretario }}
                {{ form.sexo_secretario }} {{ form.telefono_secretario }}
            </div>
            <div class="derecha">
                <label>Tesorero (Nombre / Sexo / Teléfono):</label>
                {{ form.tesorero }}
                {{ form.sexo_tesorero }} {{ form.telefono_tesorero }}
                <label>Primer Vocal (Nombre / Sexo / Teléfono):</label>
                {{ form.primer_vocal }}
                {{ form.sexo_primer_vocal }} {{ form.telefono_primer_vocal }}
                <label>Segundo Vocal (Nombre / Sexo / Teléfono):</label>
                {{ form.segundo_vocal }}
                {{ form.sexo_segundo_vocal }} {{ form.telefono_segundo_vocal }}
                <label>Tercer Vocal (Nombre / Sexo / Teléfono):</label>
                {{ form.tercer_vocal }}
                {{ form.sexo_tercer_vocal }} {{ form.telefono_tercer_vocal }}
                <label>Bombero:</label>
                {{ form.bombero }}
                <label>Fontanero:</label>
                {{ form.fontanero }}
                {{ form.sexo_fontanero }} {{ form.telefono_fontanero }}
                <label>Delegado Municipal:</label>
                {{ form.delegado_municipal }}
                {{ form.sexo_delegado_municipal }} {{ form.telefono_delegado_municipal }}
                <label>Comisariado Ejidal:</label>
                {{ form.comisariado_ejidal }}
                {{ form.sexo_comisariado_ejidal }} {{ form.telefono_comisariado_ejidal }}
                <label>Jefe de Sector:</label>
                {{ form.jefe_sector }}
                {{ form.sexo_jefe_sector }} {{ form.telefono_jefe_sector }}
                <label>Observaciones:</label>
                {{ form.observaciones }}
                {{ form.registro_activo }}
            </div>

            <button type="submit" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>
        </form>
    </div>
{% endblock %}

{% block scriptJS %}
    <script>
        var municipio = $("#id_municipio").val();
        var tipo      = $("#id_tipo_comite").val();

        $("#id_municipio").change(function(){
            var municipio = $(this).val();
            $("#id_tipo_comite").val('');
            $("#grupo").hide('fast');

            if (municipio != ''){
                buscComite(municipio);
            } else {
                $("#id_tipo_comite").val('');
                $("#grupo").hide('fast');
            }
        });

        $("#id_abastecido_por").attr('hidden', 'hidden');

        if (tipo == 'Sub Udesa') {
            $("#id_abastecido_por").hide('fast');
            $("#lista_abastecido_por").show('fast');
        } else {
            $("#grupo").hide('fast');
        }

        buscComite(municipio);

        /* Según el TIPO DE COMITÉ se mostrará el select o no */
        $("#id_tipo_comite").change(function(){
            var valor = $(this).val();

            if (valor != 'Sub Udesa') {
                $("#grupo").hide('fast');
            } else {
                $("#grupo").show('fast');
            }
        });
        /*
            Función para buscar los comités que pueden ser las que abastecen a la comunidad
            a dar de alta siempre y cuando esta se marque como Sub Udesa.
        */
        function buscComite(municipio) {
            var abastecido_por = $("#id_abastecido_por").val();

            $.ajax({
                data: {'municipio': municipio, 'abastecido_por': abastecido_por},
                //url: '/cfe/buscComiteCfe/',
                url: '/comite/buscComiteUpdate/',
                dataType: 'json',
                type: 'GET',
                success: function(data) {
                    if (data['encontrado'] == 'si') {
                        $("#id_abastecida_por").html("<option id='opcion' class='opcion' value=''>---------</option>");
                        var datos = data['respuesta'];
                        for (i = 0; i < datos.length; i++) {
                            $("#id_abastecida_por").html(function(){
                                $(this).append("<option id='opcion' class='opcion' value='" + datos[i]['id'] + "'>" + datos[i]['clasificacion_politica'] + ' ' + datos[i]['nombre'] + "</option>");
                            });
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}