{% extends 'base.html' %}

{% load static %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Comité{% endblock %}

{% block tituloBanner %}Comité{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="#" onclick="regresarComite()"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Reporte{% endblock %}

{% block scriptJS %}
    <script>
        function regresarComite() {
            var comite = $("#id_comite").val();
            $(location).attr('href','/comite/listComiteMunicipio/' + comite);
        }
    </script>
{% endblock %}