<!-- LISTADO INDEPENDIENTE DE CANTIDADES DE COMITÉS POR MUNICIPIO -->
{% extends 'base.html' %}

{% load static %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Comité{% endblock %}

{% block tituloBanner %}Comité{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="{% url 'inicio' %}"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
    <a id="formComite" class="nav-link ligaBarraOpciones" href="{% url 'formComiteGeneral' %}"><i class="fas fa-plus"></i> Nuevo Comité</a>
{% endblock %}

{% block contenidoH3 %}Cantidad de Comités por Municipio{% endblock %}

<div id="avisos" class="contenedor-badge">
</div>

{% block contenido %}
    <div class="seccion">
        {% if comites_por_municipio == 'vacio' %}
            <div class="alert alert-warning" role="alert">
                <b>¡</b> No existen datos <b>!</b>
            </div>
        {% else %}
            <div id="listaGral">

                <div class="text-dark totalComites">Total de Comités: <span id="cantidad" class="text-primary cantidad"></span></div>

                <table id="tablaComites" class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th class="align-middle fila">Municipio</th>
                            <th class="align-middle fila">Cantidad de Comités</th>
                            <th class="align-middle fila">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scriptJS %}
    <script>
        $('[data-toggle="tooltip"]').tooltip();

        $.ajax({
            data: {},
            url: '/comite/obteComiteGeneral/',
            dataType: 'json',
            type: 'GET',
            success: function(data) {
                var datos = data['estructura_final'];
                var total_comites = 0;
                for (i = 0; i < datos.length; i++) {
                    var total_comites = total_comites + parseInt(datos[i][2]);
                    $("tbody").html(function(){
                        $(this).append('<tr>');
                        $(this).append('<td>' + datos[i][1] + '</td><td>' + datos[i][2] + '</td>');
                        $(this).append('<td><div class="iconoAccion"> <a href=""><i class="fas fa-print" data-toggle="tooltip" data-placement="bottom" title="Imprimir"></i></a> </div></td>'); //datos[i][0]
                        $(this).append('</tr>');
                    });
                }
                $("#cantidad").html(total_comites + '<div class="iconoAccionImprimir"> <a href="{% url 'repoGeneralComite' %}"><i class="fas fa-print" data-toggle="tooltip" data-placement="bottom" title="Imprimir"></i></a> </div>');
            },
            error: function(error) {
               console.log(error);
            }
        });
    </script>
{% endblock %}