<!-- LISTADO DE COMITÉS POR MUNCIPIO -->
{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Comité{% endblock %}

{% block tituloBanner %}Comité{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="{% url 'inicio' %}"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}
    {% if listComites == 'vacio' %}
        Listado de Comités por Municipio
    {% else %}
        Listado de Comités por Municipio: 
        {{ nombre_municipio }}
        <input type="text" name="id_municipio" id="id_municipio" value="{{ id_municipio }}" hidden="hidden">
    {% endif %}
{% endblock %}

<div id="avisos" class="contenedor-badge">
</div>

{% block contenido %}
    <div class="seccion">
        {% if listComites == 'vacio' %}
            <div class="alert alert-warning" role="alert">
                <b>¡</b> No existen datos <b>!</b>
            </div>
        {% else %}
            <div id="listaGral">
                <input type="search" id="cuadroBuscar" class="form-control cuadroBuscar" placeholder="Buscar">
                {% if total_adeudo %}
                    <div class="text-dark">Adeudo General a Bomberos: <span class="text-danger cantidad">$ {{ total_adeudo | intcomma }}</span></div>
                {% endif %}
                <table id="tablaComites" class="table table-sm table-hover table-light">
                    <thead>
                        <tr>
                            <th class="align-middle fila">Nombre</th>
                            <th class="align-middle fila">Administra</th>
                            <th class="align-middle fila">Tipo de Comité</th>
                            <th class="align-middle fila">Tiempo en Función</th>
                            <th class="align-middle fila">Promotor</th>
                            <th class="align-middle fila">Bombero - Adeudo</th>
                            <th class="align-middle fila">Observaciones</th>
                            <th class="align-middle columna">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comite in listComites %}
                            <tr>
                                <td class="fila" id="nombre_completo">
                                    {% if comite.clasificacion_politica == None %}
                                       {{ comite.nombre }}
                                    {% else %}
                                        {{ comite.clasificacion_politica }} {{ comite.nombre }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if comite.quien_administra != None %}
                                        {{ comite.quien_administra }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if comite.tipo_comite != None %}
                                        {{ comite.tipo_comite }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if comite.tiempo_funcion_comite_anios != None %}
                                        {% if comite.tiempo_funcion_comite_anios == 0 %}
                                            Sin datos
                                        {% else %}
                                            {{ comite.tiempo_funcion_comite_anios }} año(s)
                                        {% endif %}
                                    {% endif %}
                                    {% if comite.tiempo_funcion_comite_mes != None %}
                                        {% if comite.tiempo_funcion_comite_mes == 0 %}
                                            Sin datos
                                        {% else %}
                                            {{ comite.tiempo_funcion_comite_mes }} mes(es)
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if comite.promotor != None %}
                                        {{ comite.promotor }}
                                    {% else %}
                                        Sin datos
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if comite.bombero_id__nombre_completo != None %}
                                        {{ comite.bombero_id__nombre_completo }}
                                    {% endif %}
                                    {% if comite.bombero_id__importe_adeudo != None and comite.bombero_id__importe_adeudo > 0 %}
                                        <span class="badge badge-danger">
                                            $ {{ comite.bombero_id__importe_adeudo | intcomma }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if comite.observaciones != None %}
                                        {{ comite.observaciones }}
                                    {% endif %}
                                </td>
                                <td class="columna">
                                    <div class="iconoAccion">
                                        <a href="{% url 'regiComite' comite.id %}"><i class="fas fa-list-alt" data-toggle="tooltip" data-placement="bottom" title="Registro"></i></a>
                                    </div>
                                    <div class="iconoAccion">
                                        <a href="{% url 'updaComite' comite.id %}"><i class="fas fa-edit" data-toggle="tooltip" data-placement="bottom" title="Editar"></i></a>
                                    </div>
                                    <div class="iconoAccion">
                                        <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash" data-toggle="tooltip" data-placement="bottom" title="Borrar"></i></a>
                                        <input type="text" name="idComite" id="idComite" value="{{ comite.id }}" hidden="hidden">
                                    </div><br>
                                    <div class="iconoAccion">
                                        {% if comite.bombero_id != None %}
                                            <a href="{% url 'regiBombero' comite.bombero_id %}" onclick="#"><i class="fas fa-child" data-toggle="tooltip" data-placement="bottom" title="Bombero"></i></a>
                                        {% else %}
                                            <i class="fas fa-child text-secondary" data-toggle="tooltip" data-placement="bottom" title="Bombero"></i>
                                        {% endif %}
                                    </div>
                                    <div class="iconoAccion">
                                        <a href="#" onclick="cfeMunicipio({{ comite.municipio_id }}, {{ comite.comite_id }})"><i class="fas fa-lightbulb" data-toggle="tooltip" data-placement="bottom" title="Cfe"></i></a>
                                    </div>
                                    <div class="iconoAccion">
                                        <a href="#" onclick="corte({{ comite.id }})"><i class="fas fa-dollar-sign" data-toggle="tooltip" data-placement="bottom" title="Cortes"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- MODAL -->
                <div class="modal" id="exampleModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Borrar Comité</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Seguro que desea borrar este comité?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-primary" id="btnBorrarSi">Sí</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL -->
        {% endif %}
    </div>
{% endblock %}

{% block scriptJS %}
    <script>
        $("#cuadroBuscar").focus();
        $('[data-toggle="tooltip"]').tooltip();

        $("#cuadroBuscar").on('keyup', function(){
            var value = $(this).val().toLowerCase();
            $("#tablaComites tbody tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        function borrComite(id) {
            $.ajax({
                data: {'id': id},
                url: '../../borrComite/',
                dataType: 'json',
                type: 'GET',
                success: function(data) {
                    if (data.respuesta.status == 'borrado') {
                        location.reload();
                        //$("#avisos").html('<span class="badge badge-warning">Registro eliminado</span>');
                    } else {
                        console.log('No pudo borrarse el registro');
                    }
                }
            });
        }

        function cfeMunicipio(id) {
            $(location).attr('href','/cfe/listCfeComite/' + id);
        }

        function corte(id) {
            $(location).attr('href','/financiero/listFinanciero/municipio/comite/' + id);
        }

        function cambioVista() {
            $("#lista").on('click', function(e) {
                var municipio_id = $("#id_municipio").val();
                e.preventDefault();
                $(location).attr('href','/comite/tarjComiteMunicipio/' + municipio_id);
            });
        }

        /* Ejecuciones */
        $("#btnBorrarSi").on("click", function(){
            let identificador = $("#idComite").val();

            borrComite(identificador);
            $("#exampleModal").modal("hide");
        });
    </script>
{% endblock %}
