{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block personalCSS %}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/compartidos.css' %}">
{% endblock %}

{% block titulo %}Detalle{% endblock %}

{% block tituloBanner %}Detalle{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="#" onclick="regresarComite()"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Detalle de Comité{% endblock %}

{% block contenido %}
    <div class="seccion">
        {% for registro in registro_comite %}
            <div class="alert alert-primary" role="alert">
                <div class="izquierda">
                    <h5>
                        <small><b>{{ registro.municipio }}</b></small><br>
                        <small>Nombre comunidad:</small><br>
                        {% if registro.clasificacion_politica != None %}
                            {{ registro.clasificacion_politica }} {{ registro.nombre }}<br>
                        {% else %}
                            {{ registro.nombre }}<br>
                        {% endif %}

                        <small>Nombre / Clave inegi:</small><br>
                        {% if registro.clasificacion_politica != None %}
                            <span class="text-success">
                                {{ registro.clasificacion_politica }} {{ registro.nombre_inegi }}
                            </span>
                        {% else %}
                            <span class="text-success">
                                {{ registro.nombre_inegi }}
                            </span>
                        {% endif %}

                        {% if registro.clave_inegi != None %}
                            <small class="text-success">({{ registro.clave_inegi }})</small><br>
                        {% endif %}

                        <input type="text" name="id_municipio" id="id_municipio" value="{{ registro.municipio_id }}" hidden="hidden">
                        <input type="text" id="idReporte" name="idReporte" value="{{ registro.id }}" hidden="hidden">
                        <input type="text" id="usuarioReporte" name="usuarioReporte" value="{{ user.username }}" hidden="hidden">
                        <input type="text" id="municipioReporte" name="municipioReporte" value="{{ registro.municipio }}" hidden="hidden">
                    </h5>
                </div>

                <div class="derecha">
                    <a href="{% url 'imprimir' registro.id %}" class="btn btn-success float-right">Imprimir <i class="fas fa-print"></i></a>
                </div>
                <hr>

                <div class="izquierda">
                    <div class="grupo">
                        <label class="etiqueta">Quién Administra: </label>
                        <p class="datoRegiBombero">
                            {% if registro.quien_administra != None %}
                                {{ registro.quien_administra }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Ubicación Geográfica: </label>
                        <p class="datoRegiBombero">
                            {% if registro.latitud != None or registro.longitud != None %}
                                Lat: {{ registro.latitud }},<br>Long: {{ registro.longitud }}
                                <input type="text" id="latComunidad" name="latComunidad" value="{{ registro.latitud }}" hidden="hidden">
                                <input type="text" id="lonComunidad" name="lonComunidad" value="{{ registro.longitud }}" hidden="hidden">
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Tipo de Comité: </label>
                        <p class="datoRegiBombero">
                            {% if registro.tipo_comite != None %}
                                {{ registro.tipo_comite }}
                            {% endif %}
                        </p>
                    </div>
                    
                    {% if registro.abastecido_por != None %}
                        <div class="grupo">
                            <label class="etiqueta">Abastecida por: </label>
                            <p class="datoRegiBombero">
                                {% for elemento in nombre_abastecido_por %}
                                    {% if elemento.clasificacion_politica != None %}
                                        {{ elemento.clasificacion_politica }} {{ elemento.nombre_inegi }}
                                    {% else %}
                                        {{ elemento.nombre_inegi }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    {% endif %}

                    <div class="grupo">
                        <label class="etiqueta">Calificación del Comité: </label>
                        <p class="datoRegiBombero">
                            {% if registro.calificacion_comite != None %}
                                {{ registro.calificacion_comite }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Tiempo en Función: </label>
                        <p class="datoRegiBombero">
                            {% if registro.tiempo_funcion_comite_anios != None %}
                                {% if registro.tiempo_funcion_comite_anios == 0 %}
                                    Sin datos
                                {% else %}
                                    {{ registro.tiempo_funcion_comite_anios }} año(s)
                                {% endif %}
                            {% endif %}
                            {% if registro.tiempo_funcion_comite_mes != None %}
                                {% if registro.tiempo_funcion_comite_mes == 0 %}
                                    Sin datos
                                {% else %}
                                    {{ registro.tiempo_funcion_comite_mes }} mes(es)
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Número de Habitantes: </label>
                        <p class="datoRegiBombero">
                            {% if registro.numero_habitantes != None %}
                                {{ registro.numero_habitantes }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Tomas Domiciliarias: </label>
                        <p class="datoRegiBombero">
                            {% if registro.numero_tomas_domiciliarias != None %}
                                {{ registro.numero_tomas_domiciliarias }}
                            {% endif %}
                            {% if registro.cuota_mensual_toma_domiciliaria != None %}
                                Cuota: $ {{ registro.cuota_mensual_toma_domiciliaria }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Tomas Comerciales: </label>
                        <p class="datoRegiBombero">
                            {% if registro.numero_tomas_comerciales != None %}
                                {{ registro.numero_tomas_comerciales }}
                            {% endif %}
                            {% if registro.cuota_mensual_toma_comercial != None %}
                                Cuota: $ {{ registro.cuota_mensual_toma_comercial }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Tomas Ganaderas: </label>
                        <p class="datoRegiBombero">
                            {% if registro.numero_tomas_ganaderas != None %}
                                {{ registro.numero_tomas_ganaderas }}
                            {% endif %}
                            {% if registro.cuota_mensual_toma_ganadera != None %}
                                Cuota: $ {{ registro.cuota_mensual_toma_ganadera }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Promotor (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.promotor != None %}
                                {{ registro.promotor }} /
                            {% endif %}
                            {% if registro.sexo_promotor != None %}
                                {{ registro.sexo_promotor }} /
                            {% endif %}
                            {% if registro.telefono_promotor != None %}
                                {{ registro.telefono_promotor }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Presidente (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.presidente != None  %}
                                {{ registro.presidente }} /
                            {% endif %}
                            {% if registro.sexo_presidente != None  %}
                                {{ registro.sexo_presidente }} /
                            {% endif %}
                            {% if registro.telefono_presidente != None  %}
                                {{ registro.telefono_presidente }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Secretario (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.secretario != None  %}
                                {{ registro.secretario }} /
                            {% endif %}
                            {% if registro.sexo_secretario != None  %}
                                {{ registro.sexo_secretario }} /
                            {% endif %}
                            {% if registro.telefono_secretario != None  %}
                                {{ registro.telefono_secretario }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Tesorero (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.tesorero != None  %}
                                {{ registro.tesorero }} /
                            {% endif %}
                            {% if registro.sexo_tesorero != None  %}
                                {{ registro.sexo_tesorero }} /
                            {% endif %}
                            {% if registro.telefono_tesorero != None  %}
                                {{ registro.telefono_tesorero }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="derecha">
                    <div class="grupo">
                        <label class="etiqueta">Primer Vocal (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.primer_vocal != None  %}
                                {{ registro.primer_vocal }} /
                            {% endif %}
                            {% if registro.sexo_primer_vocal != None  %}
                                {{ registro.sexo_primer_vocal }} /
                            {% endif %}
                            {% if registro.telefono_primer_vocal != None  %}
                                {{ registro.telefono_primer_vocal }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Segundo Vocal (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.segundo_vocal != None  %}
                                {{ registro.segundo_vocal }} /
                            {% endif %}
                            {% if registro.sexo_segundo_vocal != None  %}
                                {{ registro.sexo_segundo_vocal }} /
                            {% endif %}
                            {% if registro.telefono_segundo_vocal != None  %}
                                {{ registro.telefono_segundo_vocal }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Tercer Vocal (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.tercer_vocal != None  %}
                                {{ registro.tercer_vocal }} /
                            {% endif %}
                            {% if registro.sexo_tercer_vocal != None  %}
                                {{ registro.sexo_tercer_vocal }} /
                            {% endif %}
                            {% if registro.telefono_tercer_vocal != None  %}
                                {{ registro.telefono_tercer_vocal }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Bombero (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.bombero != None  %}
                                {{ registro.bombero }} /
                            {% endif %}
                            {% if registro.sexo_bombero != None  %}
                                {{ registro.sexo_bombero }} /
                            {% endif %}
                            {% if registro.telefono_bombero != None  %}
                                {{ registro.telefono_bombero }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Fontanero (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.fontanero != None  %}
                                {{ registro.fontanero }} /
                            {% endif %}
                            {% if registro.sexo_fontanero != None  %}
                                {{ registro.sexo_fontanero }} /
                            {% endif %}
                            {% if registro.telefono_fontanero != None  %}
                                {{ registro.telefono_fontanero }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Delegado Municipal (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.delegado_municipal != None  %}
                                {{ registro.delegado_municipal }} /
                            {% endif %}
                            {% if registro.sexo_delegado_municipal != None  %}
                                {{ registro.sexo_delegado_municipal }} /
                            {% endif %}
                            {% if registro.telefono_delegado_municipal != None  %}
                                {{ registro.telefono_delegado_municipal }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Comisariado Ejidal (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.comisariado_ejidal != None  %}
                                {{ registro.comisariado_ejidal }} /
                            {% endif %}
                            {% if registro.sexo_comisariado_ejidal != None  %}
                                {{ registro.sexo_comisariado_ejidal }} /
                            {% endif %}
                            {% if registro.telefono_comisariado_ejidal != None  %}
                                {{ registro.telefono_comisariado_ejidal }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Jefe de Sector (Nombre / Sexo / Teléfono): </label>
                        <p class="datoRegiBombero">
                            {% if registro.jefe_sector != None  %}
                                {{ registro.jefe_sector }} /
                            {% endif %}
                            {% if registro.sexo_jefe_sector != None  %}
                                {{ registro.sexo_jefe_sector }} /
                            {% endif %}
                            {% if registro.telefono_jefe_sector != None  %}
                                {{ registro.telefono_jefe_sector }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Observaciones: </label>
                        <p class="datoRegiBombero">
                            {% if registro.observaciones != None %}
                                {{ registro.observaciones }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <!-- SECCIÓN DEL MAPA -->
                <section id="seccionMapa">
                    <hr>
                    <div id="mapaComite" class="mapaComite"></div>
                </section>
                <!-- SECCIÓN DE CORTES -->
                <section class="seccionCortes">
                    {% if cortes %}
                        <hr>
                        <table class="table table-striped table-responsive table-dark bg-dark">
                            <thead>
                                <tr>
                                    <td>Fecha corte</td>
                                    <td>Período evaluado</td>
                                    <td>Saldo anterior en caja</td>
                                    <td>Total Ingresos</td>
                                    <td>Saldo en caja + Ingresos</td>
                                    <td>Total Egresos</td>
                                    <td>Saldo actual en caja</td>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for corte in cortes %}
                                        <tr>
                                            <td>{{ corte.fecha_corte | date:"j F Y"  }}</td>
                                            <td><small>{{ corte.periodo_evaluado_inicio | date:"j F Y"  }} - {{ corte.periodo_evaluado_fin | date:"j F Y"  }}</small></td>
                                            <td class="cantidades">{{ corte.saldo_caja | intcomma }}</td>
                                            <td class="cantidades">{{ corte.total_ingresos | intcomma }}</td>
                                            <td class="cantidades">{{ corte.saldo_caja_mas_ingresos | intcomma }}</td>
                                            <td class="cantidades">{{ corte.total_egresos | intcomma }}</td>
                                            <td class="cantidades">{{ corte.saldo_final_caja | intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <hr>
                        <div id="registros" class="registros">
                            <h5>Sin registros financieros</h5>
                        </div>
                    {% endif %}
                </section>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}

{% block scriptJS %}
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet-image.js' %}"></script>
    <script src="{% static 'js/mapaComunidad.js' %}"></script>
    <script>
        function regresarComite() {
            var municipio = $("#id_municipio").val();
            $(location).attr('href','/comite/listComiteMunicipio/' + municipio);
        }
        /*
        leafletImage(mymap, function(err, canvas) {
            // now you have canvas
            // example thing to do with that canvas:
            var img = document.createElement('img');
            var dimensions = mymap.getSize();
            img.width = dimensions.x;
            img.height = dimensions.y;
            img.src = canvas.toDataURL();
            document.getElementById('mapaComite').innerHTML = '';
            document.getElementById('mapaComite').appendChild(img);
        });
        */
    </script>
{% endblock %}
