{% extends 'base.html' %}
{% load static %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Cfe{% endblock %}

{% block tituloBanner %}Cfe{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="{% url 'listCfe' %}"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Registrar Cfe{% endblock %}

{% block contenido %}
    <div class="formulario">
        <form method="POST">
            {% csrf_token %}
            <div id="divComiteID">
                <input type="number" id="id_comite" name="comite" value="" hidden="hidden">
            </div>

            <div id="busquedaDatos" class="busquedaDatos">
                <label class="etiquetaCFE">Municipio:</label>
                <select name="municipio" id="id_municipio" class="custom-select municipio">
                    <option value="">----------</option>
                </select>
                <label class="etiquetaCFE">Comité:</label>
                <select name="nombre" id="id_nombre" class="custom-select comiteCFE">
                    <option value="">---------</option>
                </select>
                <hr>
            </div>

            <div class="izquierda">
                <label>Servicio Pagado Por:</label>
                {{ form.pagado_por }}
                <label>Importe Mensual Aproximado:</label>
                {{ form.importe_mensual_aprox }}
                <label>Número de Medidor:</label>
                {{ form.numero_medidor }}
            </div>
            <div class="derecha">
                <label>RPU:</label>
                {{ form.rpu }}
                <label>Importe del Adeudo:</label>
                {{ form.importe_adeudo }}
                {{ form.registro_activo }}
            </div>

            <button type="submit" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>
        </form>
    </div>
{% endblock %}

{% block scriptJS %}
    <script>
        $("#id_municipio").focus();
        var id = getParameterByName('id');

        if ((id == '') || (id === undefined) || (id === null)) {
            $.ajax({
                type: 'GET',
                url: '../buscMunicipio/',
                data:'opcion=buscar',
                success: function(data) {
                    $("#id_municipio").html("<option id='opcion' class='opcion' value=''>---------</option>");
                    var datos = data['municipios'];
                    for (i = 0; i < datos.length; i++) {
                        $("#id_municipio").html(function(){
                            $(this).append("<option id='opcion' class='opcion' value='" + datos[i]['municipio_id'] + "'>" + datos[i]['nombre'] + "</option>");
                        });
                    }
                    $("#id_municipio").change(function() {
                        var seleccionado = $(this).val();
                        buscComiteCfe(seleccionado);
                    });
                }
            });
        } else {
            $("#id_comite").val(id);
            $("#busquedaDatos").css('display', 'none');
        }

        function buscComiteCfe(seleccionado) {
            $.ajax({
                type: 'GET',
                url: '../buscComiteCfe/',
                data:'municipio=' + seleccionado,
                success: function(data) {
                    $("#id_nombre").html("<option id='opcion' class='opcion' value=''>---------</option>");
                    var datos = data['respuesta'];
                    for (i = 0; i < datos.length; i++) {
                        $("#id_nombre").html(function(){
                            $(this).append("<option id='opcion' class='opcion' value='" + datos[i]['id'] + "'>" + datos[i]['clasificacion_politica'] + ' ' + datos[i]['nombre'] + "</option>");
                        });
                    }
                    $("#id_nombre").change(function() {
                        var seleccionado = $(this).val();
                        $("#id_comite").val(seleccionado);
                    });
                }
            });
        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    </script>
{% endblock %}
