{% extends 'base.html' %}

{% load static %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Cfe{% endblock %}

{% block tituloBanner %}Cfe{% endblock %}

{% block ligas %}

    <a class="nav-link ligaBarraOpciones" href="{% url 'inicio' %}"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
    <a class="nav-link ligaBarraOpciones" href="{% url 'formCfe' %}"><i class="fas fa-plus"></i> Nuevo Cfe</a>
{% endblock %}

{% block contenidoH3 %}Listado de Registros de Cfe{% endblock %}

<div id="avisos" class="contenedor-badge">
</div>

{% block contenido %}
    <div class="seccion">
        {% if listCfe == 'vacio' %}
            <div class="alert alert-warning" role="alert">
                <b>¡</b> No existen datos <b>!</b>
            </div>
            {% if nombre_comite != 'vacio' %}
                {% for propiedad in nombre_comite %}
                    {{ nombre_comite.municipio }}
                    <input type="text" id="municipio" value="{{ propiedad.municipio }}" hidden="hidden">
                {% endfor %}
            {% endif %}
        {% else %}
            <div id="listaGral">
                {% for propiedad in nombre_comite %}
                    <h5>{{ propiedad.clasificacion_politica }} {{ propiedad.nombre }}</h5>
                    <input type="text" id="municipio" value="{{ propiedad.municipio }}" hidden="hidden">
                {% endfor %}
                <hr>
                <input type="search" id="cuadroBuscar" class="form-control cuadroBuscar" placeholder="Buscar">
                <table id="tablaCfe" class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th class="align-middle fila">Servicio Pagado Por</th>
                            <th class="align-middle fila">Importe Mensual Aproximado</th>
                            <th class="align-middle fila">Número de Medidor</th>
                            <th class="align-middle fila">RPU</th>
                            <th class="align-middle fila">Importe del Adeudo</th>
                            <th class="align-middle fila">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cfe in listCfe %}
                            <tr>
                                <td class="fila">{{ cfe.pagado_por }}</td>
                                <td class="fila">$ {{ cfe.importe_mensual_aprox }}</td>
                                <td class="fila">{{ cfe.numero_medidor }}</td>
                                <td class="fila">{{ cfe.rpu }}</td>
                                <td class="fila">
                                    {% if cfe.importe_adeudo != None %}
                                        $ {{ cfe.importe_adeudo }}
                                    {% endif %}
                                </td>
                                <td>
                                    <!--
                                    <div class="iconoAccion">
                                        <a href=""><i class="fas fa-address-card" data-toggle="tooltip" data-placement="bottom" title="Registro"></i></a>
                                    </div>
                                -->
                                    <div class="iconoAccion">
                                        <a href="{% url 'updaCfe' cfe.id %}"><i class="fas fa-edit" data-toggle="tooltip" data-placement="bottom" title="Editar"></i></a>
                                    </div>
                                    <div class="iconoAccion">
                                        <a href="" onclick="borrCfe({{ cfe.id }})"><i class="fas fa-trash" data-toggle="tooltip" data-placement="bottom" title="Borrar"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scriptJS %}
    <script>
        $("#cuadroBuscar").focus();
        $('[data-toggle="tooltip"]').tooltip();

        $("#cuadroBuscar").on('keyup', function(){
            var value = $(this).val().toLowerCase();
            $("#tablaCfe tbody tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        function borrCfe(id) {
            $.ajax({
                data: {'id': id},
                url: 'borrCfe/',
                dataType: 'json',
                type: 'GET',
                success: function(data) {
                    console.log(data);
                    if (data.status == 'borrado') {
                        $("#avisos").html('<span class="badge badge-warning">Registro eliminado</span>');
                    } else {
                        console.log('No pudo borrarse el registro');
                    }
                }
            });
        }

        function listCfeComite() {
            var id_municipio = $("#municipio").val();

            if (id_municipio == null || id_municipio == undefined) {
                $(location).attr('href','/comite/');
            } else {
                $(location).attr('href','/comite/listComiteMunicipio/' + id_municipio);
            }
        }
    </script>
{% endblock %}
