{% extends 'base.html' %}
{% load static %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Cfe{% endblock %}

{% block tituloBanner %}Cfe{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="{% url 'listCfe' %}"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Actualizar Cfe{% endblock %}

{% block contenido %}
    <div class="formulario">
        <h5 id="nombreComite"></h5>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <div class="izquierda">
                <label>Id Comite:</label>
                {{ form.comite }}
                <label>Servicio Pagado Por:</label>
                {{ form.pagado_por }}
                <label>Importe Mensual Aproximado:</label>
                {{ form.importe_mensual_aprox }}
            </div>
            <div class="derecha">
                <label>Número de Medidor:</label>
                {{ form.numero_medidor }}
                <label>RPU:</label>
                {{ form.rpu }}
                <label>Importe del Adeudo:</label>
                {{ form.importe_adeudo }}
                {{ form.registro_activo }}
            </div>

            <button type="submit" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>
        </form>
    </div>
{% endblock %}

{% block scriptJS %}
    <script>
        var comite = $("#id_comite").val();
        buscNombreComiteCfe(comite);

        function buscNombreComiteCfe(comite) {
            $.ajax({
                type: 'GET',
                url: '/cfe/buscNombreComiteCfe/',
                data:'comite=' + comite,
                success: function(data) {
                    var dato = data['respuesta'];
                    $("#nombreComite").html(dato[0]['clasificacion_politica'] + ' ' + dato[0]['nombre'])
                }
            });
        }
    </script>
{% endblock %}
