{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Bombero{% endblock %}

{% block tituloBanner %}Bombero{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="{% url 'inicio' %}"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Listado General de Bomberos{% endblock %}

<div id="avisos" class="contenedor-badge">
</div>

{% block contenido %}
    <div class="seccion">
        {% if listBomberos == 'vacio' %}
            <div class="alert alert-warning" role="alert">
                <b>¡</b> No existen datos <b>!</b>
            </div>
        {% else %}
            <div id="listaGral">
                <input type="search" id="cuadroBuscar" class="form-control cuadroBuscar" placeholder="Buscar">
                <table id="tablaBomberos" class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th class="align-middle fila">Nombre</th>
                            <th class="align-middle fila">Tipo de Sistema</th>
                            <th class="align-middle fila">Antigüedad</th>
                            <th class="align-middle fila">Salario Mensual</th>
                            <th class="align-middle fila">Adeudo</th>
                            <th class="align-middle fila">Quién le Paga</th>
                            <th class="align-middle fila">Estatus del Sistema</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bombero in listBomberos %}
                            <tr>
                                <td class="fila">{{ bombero.nombre_completo }}</td>
                                <td class="fila">
                                    {% if bombero.tipo_sistema != None %}
                                        {{ bombero.tipo_sistema }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if bombero.antiguedad_anios != 0 %}
                                        {% if bombero.antiguedad_anios != None %}
                                            {{ bombero.antiguedad_anios }} año(s)
                                        {% endif %}
                                    {% endif %}

                                    {% if bombero.antiguedad_meses != 0 %}
                                        {% if bombero.antiguedad_meses != None %}
                                            {{ bombero.antiguedad_meses }} mes(es)
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if bombero.salario_mensual != None %}
                                        {{ bombero.salario_mensual | intcomma }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if bombero.importe_adeudo != None %}
                                        <span class="text-danger">
                                            {{ bombero.importe_adeudo | intcomma }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="fila">{{ bombero.quien_paga }}</td>
                                <td class="fila">
                                    {% if bombero.estatus_sistema != None %}
                                        {{ bombero.estatus_sistema }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scriptJS %}
    <script src="{% static 'js/bomberos.js' %}"></script>
{% endblock %}
