{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Bombero{% endblock %}

{% block tituloBanner %}Bombero{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="#" onclick="regresarComite()"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Detalle de Bombero{% endblock %}

{% block contenido %}
    <div class="seccion">

        <div class="bloqueAcciones">
            {% for registro in registro_comite %}
                <a href="{% url 'updaBombero' registro.bombero.id %}" class="btn btn-success">Editar <i class="fas fa-edit"></i></a>
                <!--
                <div class="iconoAccion">
                    <a href=""><i class="fas fa-trash" data-toggle="tooltip" data-placement="bottom" title="Borrar"></i></a>
                </div>
            -->
            {% endfor %}
        </div>
        {% if comite == 'si' %}
            {% for registro in registro_comite %}
                <div class="alert alert-primary" role="alert">
                    <h4>
                        <b>
                            {{ registro.bombero.nombre_completo }}
                        </b>
                        {% for dato in registro_bombero %}
                            {% if dato.telefono != None %}
                                {{ dato.telefono }}
                            {% endif %}
                        {% endfor %}
                    </h4>
                    <div class="grupo">
                        <label class="etiqueta">Comité: </label>
                        <p class="datoRegiBombero">
                            {{ registro.clasificacion_politica }} {{ registro.nombre }} - {{ registro.municipio }}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Quién Administra: </label>
                        <p class="datoRegiBombero">
                            {% if registro.quien_administra != None %}
                                {{ registro.quien_administra }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Tipo de Sistema: </label>
                        <p class="datoRegiBombero">
                            {% if registro.bombero.tipo_sistema != None %}
                                {{ registro.bombero.tipo_sistema }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Antigüedad: </label>
                        <p class="datoRegiBombero">
                            {% if registro.bombero.antiguedad_anios != None %}
                                {% if registro.bombero.antiguedad_anios != 0 %}
                                    {{ registro.bombero.antiguedad_anios }} año(s)
                                {% else %}
                                    Sin datos
                                {% endif %}
                            {% endif %}
                            {% if registro.bombero.antiguedad_meses != None %}
                                {% if registro.bombero.antiguedad_meses != 0 %}
                                    {{ registro.bombero.antiguedad_meses }} mes(es)
                                {% else %}
                                    Sin datos
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Salario Mensual: </label>
                        <p class="datoRegiBombero">
                            {% if registro.bombero.salario_mensual != None %}
                                {{ registro.bombero.salario_mensual | intcomma }}
                            {% endif %}
                        </p>
                    </div>
                    {% if registro.bombero.meses_adeudo != 0 %}
                        <div class="grupo">
                            <label class="etiqueta">Meses de Adeudo: </label>
                            <p class="datoRegiBombero">
                                {% if registro.bombero.meses_adeudo != None %}
                                    {{ registro.bombero.meses_adeudo }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="grupo">
                            <label class="etiqueta">Importe del Adeudo: </label>
                            <p class="datoRegiBombero">
                                {% if registro.bombero.importe_adeudo != None %}
                                    {{ registro.bombero.importe_adeudo | intcomma }}
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                    <div class="grupo">
                        <label class="etiqueta">Quién le paga: </label>
                        <p class="datoRegiBombero">
                            {% if registro.bombero.quien_paga != None %}
                                {{ registro.bombero.quien_paga }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Estatus del Sistema: </label>
                        <p class="datoRegiBombero">
                            {% if registro.bombero.estatus_sistema != None %}
                                {{ registro.bombero.estatus_sistema }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Horario(s) de Bombeo: </label>
                        <p class="datoRegiBombero">
                            {% if registro.bombero.horario_bombeo != None %}
                                {{ registro.bombero.horario_bombeo }}
                            {% endif %}
                        </p>
                    </div>
                    {% if registro.observaciones != '' %}
                        <div class="grupo">
                            <label class="etiqueta">Observaciones: </label>
                            <p class="datoRegiBombero">
                                {% if registro.bombero.observaciones != None %}
                                    {{ registro.bombero.observaciones }}
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                </div>
                <input type="text" name="id_municipio" id="id_municipio" value="{{ registro.municipio_id }}" hidden="hidden">
            {% endfor %}
        {% else %}
            {% for registro in registro_bombero %}
                <div class="alert alert-primary" role="alert">
                    <h4>
                        <b>
                            {{ registro.nombre_completo }}
                        </b>
                    </h4>
                    <div class="grupo">
                        <label class="etiqueta">Tipo de Sistema: </label>
                        <p class="datoRegiBombero">
                            {{ registro.tipo_sistema }}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Antigüedad: </label>
                        <p class="datoRegiBombero">
                            {{ registro.antiguedad_anios }} año(s) {{ registro.antiguedad_meses }} mes(es)
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Salario Mensual: </label>
                        <p class="datoRegiBombero">
                            {{ registro.salario_mensual | intcomma }}
                        </p>
                    </div>
                    {% if registro.meses_adeudo != 0 %}
                        <div class="grupo">
                            <label class="etiqueta">Meses de Adeudo: </label>
                            <p class="datoRegiBombero">
                                {{ registro.meses_adeudo }}
                            </p>
                        </div>
                        <div class="grupo">
                            <label class="etiqueta">Importe del Adeudo: </label>
                            <p class="datoRegiBombero">
                                {{ registro.importe_adeudo | intcomma }}
                            </p>
                        </div>
                    {% endif %}
                    <div class="grupo">
                        <label class="etiqueta">Quién le paga: </label>
                        <p class="datoRegiBombero">
                            {{ registro.quien_paga }}
                        </p>
                    </div>
                    <div class="grupo">
                        <label class="etiqueta">Estatus del Sistema: </label>
                        <p class="datoRegiBombero">
                            {{ registro.estatus_sistema }}
                        </p>
                    </div>
                    {% if registro.observaciones != '' %}
                        <div class="grupo">
                            <label class="etiqueta">Observaciones: </label>
                            <p class="datoRegiBombero">
                                {{ registro.observaciones }}
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}

{% block scriptJS %}
    <script>
        function regresarComite() {
            var municipio = $("#id_municipio").val();
            $(location).attr('href','/comite/listComiteMunicipio/' + municipio);
        }
    </script>
{% endblock %}

