{% extends 'base.html' %}

{% load static %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Bombero{% endblock %}

{% block tituloBanner %}Bombero{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="{% url 'regiBombero' id %}"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Actualizar Bombero{% endblock %}

{% block contenido %}
    <div class="formulario">
        <form method="POST">
            {% csrf_token %}
            <div class="izquierda">
                <label>Nombre (Sexo / Teléfono):</label>
                {{ form.nombre_completo }}
                {{ form.sexo }} {{ form.telefono }}
                <label>Tipo de Sistema:</label>
                {{ form.tipo_sistema }}
                <label>Antigüedad en Años:</label>
                {{ form.antiguedad_anios }}
                <label>Antigüedad en Meses:</label>
                {{ form.antiguedad_meses }}
                <label>Salario Mensual:</label>
                {{ form.salario_mensual }}
                <label>Meses que se le Adeudan:</label>
                {{ form.meses_adeudo }}
                <label>Importe del Adeudo:</label>
                {{ form.importe_adeudo }}
            </div>
            <div class="derecha">
                <label>Quién le Paga:</label>
                {{ form.quien_paga }}
                <label>Estatus del Sistema:</label>
                {{ form.estatus_sistema }}
                <label>Horario(s) de Bombeo:</label>
                {{ form.horario_bombeo }}
                <label>Observaciones:</label>
                {{ form.observaciones }}
                {{ form.registro_activo }}
            </div>
            <input type="text" name="id_municipio" id="id_municipio" value="{{ municipio_id }}" hidden="hidden">

            <button type="submit" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>
        </form>
    </div>
{% endblock %}

{% block scriptJS %}
    <script src="{% static 'js/bomberos.js' %}"></script>
{% endblock %}
