{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/core.css' %}">
	<title>Error 404</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron error404">
			<h1 class="display-4">Recurso no encontrado!!!</h1>
			<p class="lead"></p>
			<hr class="my-4">
			<p>La página que busca no se encuentra aquí...</p>
			<a class="btn btn-primary btn-lg" href="{% url 'inicio' %}" role="button"><i class="fas fa-chevron-circle-left"></i> Regresar al Mapa</a>
		</div>
	</div>

	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>