{% load static %}

<!DOCTYPE html>
<html lang="es-mx">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    {% block personalCSS %}{% endblock %}

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    <title>SCIDS | {% block titulo %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">
            <i class="fas fa-tint"></i>
        <b>S.C.I.D.S.</b>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <div class="nav-link" href="#">{% block tituloBanner %}{% endblock %}</div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <div class="nav-item usuarioMenu" href="#">{{ user.username | capfirst }}</div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="#" aria-disabled="true"><i class="fas fa-key"></i> Cambiar Password</a>
                        <a class="dropdown-item disabled" href="#" aria-disabled="true"><i class="fas fa-address-card"></i> Perfil</a>
                        <a class="dropdown-item" href="#" id="acerca_de" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-info-circle"></i> Acerca de</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- INICIA VENTANA MODAL -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Acerca de S.C.O.M.<br><small>Desarrollo Social (S.C.I.D.S.)</small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <small>El Sistema de Control Operativo Modular (S.C.O.M.) tiene como meta reducir el gasto en cuanto a reparaciones de equipos de bombeo, equipos especiales, el gasto de reactivos químicos, etc; mediante algoritmos y procesos digitales estructurados y relacionados.</small><br><br>En este módulo denominado: <strong>Sistema de Control de Información de Desarrollo Social (S.C.I.D.S.)</strong>; la herramienta digital dotará de flujos de información en tiempo real del estado de las UDESAS, así como de sus movimientos financieros y demás actividades que la Dirección de Desarrollo Social necesite.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- INICIA CONTENEDOR PRINCIPAL -->
    <div class="container">
        <div class="barraOpciones">
            {% block ligas %}{% endblock %}
            <h3>{% block contenidoH3 %}{% endblock %}</h3>
        </div>
        {% block contenido %}
        {% endblock %}
    </div>
    <!-- TERMINA CONTENEDOR PRINCIPAL -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scriptJS %}{% endblock %}

    <script>
        $("#acerca_de").on('click', function(){
            modal
        });
    </script>
</body>
</html>