{% extends 'base.html' %}

{% load static %}

{% block personalCSS %}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/mapa.css' %}">
{% endblock %}

{% block titulo %}Mapa{% endblock %}

{% block tituloBanner %}Mapa{% endblock %}

{% block ligas %}
    <div class="listadosGenerales">
        LISTADOS GENERALES:
    </div>
    <a class="nav-link ligaBarraOpciones" href="{% url 'listComiteGeneral' %}"><i class="fas fa-th-list"></i> Comités</a>
    <a class="nav-link ligaBarraOpciones" href="{% url 'listFinancieroGeneral' %}"><i class="fas fa-th-list"></i> Cortes</a>
    <a class="nav-link ligaBarraOpciones" href="{% url 'listBombero' %}"><i class="fas fa-th-list"></i> Bomberos</a>
    <a class="nav-link ligaBarraOpciones" href="{% url 'listCfe' %}"><i class="fas fa-th-list"></i> C.F.E.</a>
{% endblock %}

{% block contenido %}
    <div id="mapid" class="mapid">
    </div>
{% endblock %}

{% block scriptJS %}
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/mapa.js' %}"></script>
{% endblock %}
