{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Corte{% endblock %}

{% block tituloBanner %}Corte{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="{% url 'inicio' %}"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Listado General de Cortes{% endblock %}

<div id="avisos" class="contenedor-badge">
</div>

{% block contenido %}
    <div class="seccion">
        {% if listFinanciero == 'vacio' %}
            <div class="alert alert-warning" role="alert">
                <b>¡</b> No existen datos <b>!</b>
            </div>
            {% if nombre_comite != 'vacio' %}
                {% for propiedad in nombre_comite %}
                    {{ nombre_comite.municipio }}
                    <input type="text" id="municipio" value="{{ propiedad.municipio }}" hidden="hidden">
                {% endfor %}
            {% endif %}
        {% else %}
            <div id="listaGral">
                <input type="search" id="cuadroBuscar" class="form-control cuadroBuscar" placeholder="Buscar">
                <div class="opcionesReporteAnterior">
                    Ejercicio Anterior <a href="{% url 'repoGeneralAnterior' %}"><i class="fas fa-print" data-toggle="tooltip" data-placement="bottom" title="Imprimir"></i></a>
                </div>

                <div class="opcionesReporteActual">
                    Reporte <a href="{% url 'repoGeneral' %}"><i class="fas fa-print" data-toggle="tooltip" data-placement="bottom" title="Imprimir"></i></a>
                </div>

                <table id="tablaFinanciero" class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th class="align-middle fila">Fecha de Corte</th>
                            <th class="align-middle fila">Periodo Evaluado</th>
                            <th class="align-middle fila">Saldo Anterior en Caja</th>
                            <th class="align-middle fila">Ingresos</th>
                            <th class="align-middle fila">Saldo en Caja más Ingresos</th>
                            <th class="align-middle fila">Egresos</th>
                            <th class="align-middle fila">Saldo Actual en Caja</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for corte in listFinanciero %}
                            <tr>
                                <td class="fila">
                                    {% if corte.fecha_corte != None %}
                                        <small>
                                            {% if corte.comite_id__clasificacion_politica != None %}
                                                {{ corte.comite_id__clasificacion_politica }} {{ corte.comite_id__nombre_inegi }}
                                            {% else %}
                                                {{ corte.comite_id__nombre_inegi }}
                                            {% endif %}
                                        </small><br>
                                        <big>{{ corte.fecha_corte | date:"j F Y" }}</big>
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.periodo_evaluado_inicio != None %}
                                        {{ corte.periodo_evaluado_inicio | date }}
                                        {% if corte.periodo_evaluado_fin != None %}
                                            - {{ corte.periodo_evaluado_fin }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.saldo_caja != None %}
                                        {{ corte.saldo_caja | intcomma }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.total_ingresos != None %}
                                        <b class="text-success">{{ corte.total_ingresos | intcomma }}</b>
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.saldo_caja_mas_ingresos != None %}
                                        {{ corte.saldo_caja_mas_ingresos | intcomma }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.total_egresos != None %}
                                        <b class="text-danger">{{ corte.total_egresos | intcomma }}</b>
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.saldo_final_caja != None %}
                                        {% if corte.saldo_final_caja < 0 %}
                                            <span class="text-danger">{{ corte.saldo_final_caja | intcomma }}</span>
                                        {% elif corte.saldo_final_caja == 0 %}
                                            {{ corte.saldo_final_caja | intcomma }}
                                        {% else %}
                                            <span class="text-success">{{ corte.saldo_final_caja | intcomma }}</span>
                                        {% endif %}
                                        <!--
                                        {{ corte.saldo_final_caja | intcomma }}
                                    -->
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scriptJS %}
    <script>
        $("#cuadroBuscar").focus();
        $('[data-toggle="tooltip"]').tooltip();

        $("#cuadroBuscar").on('keyup', function(){
            var value = $(this).val().toLowerCase();
            $("#tablaFinanciero tbody tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        function imprimirReporteGeneral() {
            let opcion = 'imprime'
            $.ajax({
                data: {'opcion': opcion},
                url: 'reporteGeneral/',
                dataType: 'json',
                type: 'GET',
                success: function(data) {
                }
            });
        }

        function formFinanciero() {
            $(location).attr('href','/financiero/formFinanciero/?id=' + id);
        }

        function borrFinanciero(id) {
            $.ajax({
                data: {'id': id},
                url: 'borrFinanciero/',
                dataType: 'json',
                type: 'GET',
                success: function(data) {
                    location.reload();
                    if (data.status == 'borrado') {
                        //$("#avisos").html('<span class="badge badge-warning">Registro eliminado</span>');
                        console.log('Registro eliminado');
                    } else {
                        console.log('No pudo borrarse el registro');
                    }
                }
            });
        }

        function listFinancieroComite() {
            var id_municipio = $("#municipio").val();

            if (id_municipio == null || id_municipio == undefined) {
                $(location).attr('href','/');
            } else {
                $(location).attr('href','/comite/listComiteMunicipio/' + id_municipio);
            }
        }
    </script>
{% endblock %}
