{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Corte{% endblock %}

{% block tituloBanner %}Corte{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="#" onclick="listFinancieroComite()"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
    <a class="nav-link ligaBarraOpciones" href="#" onclick="formFinanciero()"><i class="fas fa-plus"></i> Nuevo Corte</a>
{% endblock %}

{% block contenidoH3 %}Listado de Cortes{% endblock %}

<div id="avisos" class="contenedor-badge">
</div>

{% block contenido %}
    <div class="seccion">
        {% if listFinanciero == 'vacio' %}
            <div class="alert alert-warning" role="alert">
                <b>¡</b> No existen datos <b>!</b>
            </div>
            {% if nombre_comite != 'vacio' %}
                {% for propiedad in nombre_comite %}
                    <input type="text" id="municipio" value="{{ propiedad.municipio }}" hidden="hidden">
                    <input type="text" id="municipio_identificador" value="{{ propiedad.id }}" hidden="hidden">
                {% endfor %}
            {% endif %}
        {% else %}
            <div id="listaGral">
                {% for propiedad in nombre_comite %}
                    <h5>{{ propiedad.clasificacion_politica }} {{ propiedad.nombre }} <small>{{ propiedad.municipio__nombre }}</small></h5>
                    <input type="text" id="municipio" value="{{ propiedad.municipio }}" hidden="hidden">
                    <input type="text" id="municipio_identificador" value="{{ propiedad.id }}" hidden="hidden">
                {% endfor %}
                <input type="search" id="cuadroBuscar" class="form-control cuadroBuscar" placeholder="Buscar">
                <table id="tablaFinanciero" class="table table-hover table-light">
                    <thead>
                        <tr>
                            <th class="align-middle fila">Capturó</th>
                            <th class="align-middle fila">Fecha de Corte</th>
                            <th class="align-middle fila">Periodo Evaluado</th>
                            <th class="align-middle fila">Saldo Anterior en Caja</th>
                            <th class="align-middle fila">Ingresos</th>
                            <th class="align-middle fila">Saldo en Caja más Ingresos</th>
                            <th class="align-middle fila">Egresos</th>
                            <th class="align-middle fila">Saldo Actual en Caja</th>
                            <th class="align-middle columna">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for corte in listFinanciero %}
                            <tr>
                                <td class="fila">
                                    {% if corte.capturo == 'alicia' %}
                                        <span class="badge badge-success">{{ corte.capturo }}</span>
                                    {% elif corte.capturo == 'flor' %}
                                        <span class="badge badge-info">{{ corte.capturo }}</span>
                                    {% elif corte.capturo == 'oscar' %}
                                        <span class="badge badge-secondary">{{ corte.capturo }}</span>
                                    {% endif %}

                                    {% if corte.alerta_observaciones != False %}
                                        <span class="badge badge-danger">Pte. Comp.</span>
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.fecha_corte != None %}
                                       {{ corte.fecha_corte | date:"j F Y" }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.periodo_evaluado_inicio != None %}
                                        <small>{{ corte.periodo_evaluado_inicio }}</small>
                                    {% endif %}
                                     - 
                                    {% if corte.periodo_evaluado_fin != None %}
                                        <small>{{ corte.periodo_evaluado_fin }}</small>
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.saldo_caja != None %}
                                        {{ corte.saldo_caja | intcomma }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.total_ingresos != None %}
                                        <b>{{ corte.total_ingresos | intcomma }}</b>
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.saldo_caja_mas_ingresos != None %}
                                        {{ corte.saldo_caja_mas_ingresos | intcomma }}
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.total_egresos != None %}
                                        <b>{{ corte.total_egresos | intcomma }}</b>
                                    {% endif %}
                                </td>
                                <td class="fila">
                                    {% if corte.saldo_final_caja != None %}
                                        {{ corte.saldo_final_caja | intcomma }}
                                    {% endif %}
                                </td>
                                <td class="columna">
                                    <!--
                                    <div class="iconoAccion">
                                        <a href="#"><i class="fas fa-address-card" data-toggle="tooltip" data-placement="bottom" title="Registro"></i></a>
                                    </div>
                                -->
                                    <div class="iconoAccion">
                                        <a href="{% url 'updaFinanciero' corte.id %}"><i class="fas fa-edit" data-toggle="tooltip" data-placement="bottom" title="Editar"></i></a>
                                    </div>
                                    <div class="iconoAccion">
                                        <a href="#" onclick="borrFinanciero({{ corte.id }})"><i class="fas fa-trash" data-toggle="tooltip" data-placement="bottom" title="Borrar"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scriptJS %}
    <script>
        $("#cuadroBuscar").focus();
        $('[data-toggle="tooltip"]').tooltip();

        $("#cuadroBuscar").on('keyup', function(){
            var value = $(this).val().toLowerCase();
            $("#tablaFinanciero tbody tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        function formFinanciero() {
            $(location).attr('href','/financiero/formFinanciero/?id=' + id);
        }

        function borrFinanciero(id) {
            $.ajax({
                data: {'id': id},
                url: '../../../../borrFinanciero/',
                dataType: 'json',
                type: 'GET',
                success: function(data) {
                    location.reload();
                    if (data.status == 'borrado') {
                        console.log('Borraste el registro');
                    } else {
                        console.log('No pudo borrarse el registro');
                    }
                }
            });
        }

        function listFinancieroComite() {
            var municipio_id = $("#municipio").val();
            $(location).attr('href','/comite/listComiteMunicipio/' + municipio_id);
        }

        function formFinanciero() {
            var comite_id = $("#municipio_identificador").val();
            $(location).attr('href', '/financiero/formFinanciero/?id=' + comite_id);
        }
    </script>
{% endblock %}
