{% extends 'base.html' %}
{% load static %}

{% block personalCSS %}<link rel="stylesheet" href="{% static 'css/compartidos.css' %}">{% endblock %}

{% block titulo %}Financiero{% endblock %}

{% block tituloBanner %}Financiero{% endblock %}

{% block ligas %}
    <a class="nav-link ligaBarraOpciones" href="#" onclick="listFinancieroComite()"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
{% endblock %}

{% block contenidoH3 %}Actualizar Corte{% endblock %}

{% block contenido %}
    <div class="formulario">
        <h5 id="nombreComite"></h5>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <div class="izquierda">
                <label>Id Comite:</label>
                {{ form.comite }}
                <label>Fecha de captura:</label>
                {{ form.fecha_captura }}
                <label>Fecha de corte:</label>
                {{ form.fecha_corte }}
                <label>Periodo evaluado:</label><br>
                {{ form.periodo_evaluado_inicio }} {{ form.periodo_evaluado_fin }}
                <label>Folios utilizados:</label>
                {{ form.folios_utilizados }}
                <label>Saldo en caja:</label>
                {{ form.saldo_caja }}
                <label class="ingresos">Ingreso por Contratos:</label>
                {{ form.ingresos_porContratos }}
                <label class="ingresos">Ingreso por Cuotas Mensuales:</label>
                {{ form.ingresos_porCuotasMensuales }}
                <label class="ingresos">Ingreso por Aportaciones:</label>
                {{ form.ingresos_porAportaciones }}
                <label class="ingresos">Ingreso por Otros:</label>
                {{ form.ingresos_porOtros }}
                <label>Total ingresos:</label>
                {{ form.total_ingresos }}
                <label>Saldo en caja mas Ingresos:</label>
                {{ form.saldo_caja_mas_ingresos }}
            </div>
            <div class="derecha">
                <label class="egresos">Egreso por Compensación al Bombero:</label>
                {{ form.egresos_compensacionBombero }}
                <label class="egresos">Egreso por Refacciones y Materiales:</label>
                {{ form.egresos_refaccionesMateriales }}
                <label class="egresos">Egreso por Mano de Obra:</label>
                {{ form.egresos_manoObra }}
                <label class="egresos">Egreso por Energía Eléctrica:</label>
                {{ form.egresos_energiaElectrica }}
                <label class="egresos">Egreso por Pasajes y Viaticos:</label>
                {{ form.egresos_pasajesViaticos }}
                <label class="egresos">Egreso por Papelería:</label>
                {{ form.egresos_papeleria }}
                <label class="egresos">Egreso por Teléfono:</label>
                {{ form.egresos_telefono }}
                <label class="egresos">Egreso por Gratificaciones:</label>
                {{ form.egresos_gratificaciones }}
                <label class="egresos">Egreso por Reparación y/o Compra de Equipo:</label>
                {{ form.egresos_compraEquipo }}
                <label class="egresos">Egreso por Contratos:</label>
                {{ form.egresos_contratos }}
                <label class="egresos">Egreso por Combustible:</label>
                {{ form.egresos_combustibles }}
                <label class="egresos">Egreso por Perifoneo:</label>
                {{ form.egresos_perifoneo }}
                <label class="egresos">Egreso por Cobrador:</label>
                {{ form.egresos_cobrador }}
                <label class="egresos">Egreso por Otros:</label>
                {{ form.egresos_otros }}
                <label>Total egresos:</label>
                {{ form.total_egresos }}
                <label>Saldo Final en caja:</label>
                {{ form.saldo_final_caja }}
                <label>Observaciones:</label>
                {{ form.observaciones }}
                <label>Marcar para comprobar después:</label>
                {{ form.alerta_observaciones }}

                {{ form.registro_activo }}
                {{ form.capturo }}
            </div>

            <button type="submit" class="btn btn-success">Actualizar <i class="fas fa-save"></i></button>
        </form>
    </div>
{% endblock %}

{% block scriptJS %}
    <script>
        var comite = $("#id_comite").val();

        buscNombreComiteCfe(comite);

        /* INGRESOS */
        $("#id_saldo_caja").blur(function(e){
            //e.preventDefault();
            calculaTotalIngresos();
        });

        $("#id_ingresos_porContratos").blur(function(e){
            //e.preventDefault();
            calculaTotalIngresos();
        });

        $("#id_ingresos_porCuotasMensuales").blur(function(e){
            //e.preventDefault();
            calculaTotalIngresos();
        });

        $("#id_ingresos_porAportaciones").blur(function(e){
            //e.preventDefault();
            calculaTotalIngresos();
        });

        $("#id_ingresos_porOtros").blur(function(e){
            //e.preventDefault();
            calculaTotalIngresos();
        });

        /* EGRESOS */
        $("#id_egresos_compensacionBombero").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_refaccionesMateriales").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_manoObra").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_energiaElectrica").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_pasajesViaticos").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_papeleria").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_telefono").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_gratificaciones").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_compraEquipo").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_contratos").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_combustibles").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        $("#id_egresos_otros").blur(function(e){
            //e.preventDefault();
            calculaTotalEgresos();
        });

        function buscNombreComiteCfe(comite) {
            $.ajax({
                type: 'GET',
                url: '/cfe/buscNombreComiteCfe/',
                data:'comite=' + comite,
                success: function(data) {
                    var dato = data['respuesta'];
                    $("#nombreComite").html(dato[0]['clasificacion_politica'] + ' ' + dato[0]['nombre'] + ' <small>' + dato[0]['municipio_id__nombre'] + '</small>')
                }
            });
        }

        function calculaTotalIngresos() {
            var valor_saldo_caja         = parseFloat($("#id_saldo_caja").val());
            var valor_porContratos       = parseFloat($("#id_ingresos_porContratos").val());
            var valor_porCuotasMensuales = parseFloat($("#id_ingresos_porCuotasMensuales").val());
            var valor_porAportaciones    = parseFloat($("#id_ingresos_porAportaciones").val());
            var valor_porOtros           = parseFloat($("#id_ingresos_porOtros").val());
            var total                    = 0;

            if (Number.isNaN(valor_saldo_caja) == true) {
                valor_saldo_caja = 0;
            }
            if (Number.isNaN(valor_porContratos) == true) {
                valor_porContratos = 0;
            }
            if (Number.isNaN(valor_porCuotasMensuales) == true) {
                valor_porCuotasMensuales = 0;
            }
            if (Number.isNaN(valor_porAportaciones) == true) {
                valor_porAportaciones = 0;
            }
            if (Number.isNaN(valor_porOtros) == true) {
                valor_porOtros = 0;
            }

            total = valor_porContratos + valor_porCuotasMensuales + valor_porAportaciones + valor_porOtros;

            $("#id_total_ingresos").val(total.toFixed(2));
            saldo = valor_saldo_caja + total;
            $("#id_saldo_caja_mas_ingresos").val(saldo.toFixed(2));
        }

        function calculaTotalEgresos() {
            var valor_saldo_caja_mas_ingresos = parseFloat($("#id_saldo_caja_mas_ingresos").val());
            var valor_compensacionBombero     = parseFloat($("#id_egresos_compensacionBombero").val());
            var valor_refaccionesMateriales   = parseFloat($("#id_egresos_refaccionesMateriales").val());
            var valor_manoObra                = parseFloat($("#id_egresos_manoObra").val());
            var valor_energiaElectrica        = parseFloat($("#id_egresos_energiaElectrica").val());
            var valor_pasajesViaticos         = parseFloat($("#id_egresos_pasajesViaticos").val());
            var valor_papeleria               = parseFloat($("#id_egresos_papeleria").val());
            var valor_telefono                = parseFloat($("#id_egresos_telefono").val());
            var valor_gratificaciones         = parseFloat($("#id_egresos_gratificaciones").val());
            var valor_compraEquipo            = parseFloat($("#id_egresos_compraEquipo").val());
            var valor_contratos               = parseFloat($("#id_egresos_contratos").val());
            var valor_combustibles            = parseFloat($("#id_egresos_combustibles").val());
            var valor_otros                   = parseFloat($("#id_egresos_otros").val());
            var total                         = 0;

            if (Number.isNaN(valor_saldo_caja_mas_ingresos) == true) {
                valor_saldo_caja_mas_ingresos = 0;
            }
            if (Number.isNaN(valor_compensacionBombero) == true) {
                valor_compensacionBombero = 0;
            }
            if (Number.isNaN(valor_refaccionesMateriales) == true) {
                valor_refaccionesMateriales = 0;
            }
            if (Number.isNaN(valor_manoObra) == true) {
                valor_manoObra = 0;
            }
            if (Number.isNaN(valor_energiaElectrica) == true) {
                valor_energiaElectrica = 0;
            }
            if (Number.isNaN(valor_pasajesViaticos) == true) {
                valor_pasajesViaticos = 0;
            }
            if (Number.isNaN(valor_papeleria) == true) {
                valor_papeleria = 0;
            }
            if (Number.isNaN(valor_telefono) == true) {
                valor_telefono = 0;
            }
            if (Number.isNaN(valor_gratificaciones) == true) {
                valor_gratificaciones = 0;
            }
            if (Number.isNaN(valor_compraEquipo) == true) {
                valor_compraEquipo = 0;
            }
            if (Number.isNaN(valor_contratos) == true) {
                valor_contratos = 0;
            }
            if (Number.isNaN(valor_combustibles) == true) {
                valor_combustibles = 0;
            }
            if (Number.isNaN(valor_otros) == true) {
                valor_otros = 0;
            }

            total = valor_compensacionBombero + valor_refaccionesMateriales + valor_manoObra + valor_energiaElectrica + valor_pasajesViaticos + valor_papeleria + valor_telefono + valor_gratificaciones + valor_compraEquipo + valor_contratos + valor_combustibles + valor_otros;

            $("#id_total_egresos").val(total.toFixed(2));
            saldo = valor_saldo_caja_mas_ingresos - total;
            $("#id_saldo_final_caja").val(saldo.toFixed(2));
        }

        function listFinancieroComite() {
            var id_comite = $("#id_comite").val();

            if (id_comite == null || id_comite == undefined) {
                $(location).attr('href','/');
            } else {
                $(location).attr('href','/financiero/listFinanciero/municipio/comite/' + id_comite);
            }
        }
    </script>
{% endblock %}
